<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Ali's Debate Forum!</title>
</head>

<body>
    <header>
        <div class="bar">
            <div class="title">Debate Forum</div>
            <div class="search-bar">
                <div>
                    <select name=""id="">
                        <option value="everything">Everything</option>
                        <option value="everything">Topics</option>
                        <option value="everything">Replies</option>
                        </select>
                        <input type="text" name="q" id="" placeholder="search ...">
                        <button><i class=" fa fa-search"></i></button>
                </div>
            </div>
        <button onclick="document.getElementById('click').style.display='block'">Log in</button>
        <button onclick="document.getElementById('clickS').style.display='block'">Sign Up</button>

            <!-- Login -->
        <div id="click" class="login-modal">
            <form class="login-modal-content animate" action="/login" method="POST">
                <div class=container1>
                <span onclick="document.getElementById('click').style.display='none'"
                class="close" title="Close Modal">&times;</span>
                </div>


                <div class="login-container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Username" name="username" required>
                
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Password" name="password" required>
                
                    <button type="submit">Log In</button>
                    <label>
                </div>
                <div class="container" style="background-color:#003cff">
                    <button type="button" onclick="document.getElementById('click').style.display='none'" class="cancelbtn">Cancel</button>
                </div>
            </form>
            </div>
            <script>
                // Get the modal
                var modal = document.getElementById('click');
                
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>
            

        </div>

        <!-- Signup -->
        <div id="clickS" class="signup-modal">
            <form class="signup-modal-content animate" action="/signup" method="POST">
                <div class=container2>
                <span onclick="document.getElementById('clickS').style.display='none'"
                class="close" title="Close Modal">&times;</span>
                </div>


                <div class="signup-container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Username" name="username" required>
                
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Password" name="password" required>
                
                    <button type="submit">Sign Up</button>
                    <label>
                </div>
                <div class="container" style="background-color:#003cff">
                    <button type="button" onclick="document.getElementById('clickS').style.display='none'" class="cancelbtn">Cancel</button>
                </div>
            </form>
            </div>
            <script>
                // Get the modal
                var modal = document.getElementById('clickS');
                
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>
        
        

    </div>

        
    </header>
    <div class="container">
        <div class="topics-table">
            <div class="topic-head">
                <div class="status">Status</div>
                <div class="subjects">Subjects</div>
                <div class="replies">Replies</div>
                <div class="last-reply"> Last Reply</div>
            </div>
            <div class="topic-row">
                <div class="status"><i class="fa fa-fire"></i></div>
                <div class="subjects"><a href="#"></a>
                <br>
                <span>Started By <b><a href="#">User</a></b>.</span>
                
            </div>
                <div class="replies">
                    20 Replies
                </div>
                <div class="last-reply">
                    May 15 2021
                    <br> 
                    By <b><a href="#"> User</a></b>
                </div>
        </div> 
        <div>
            <div class="info">
                <div class="chart">
                    Forum - Stats &nbsp; <i class=" fa fa-bar-chart"></i>
                </div>
                <div>
                    <span><u>1250</u> Topics by <u>35,250</u> Users</span><br>
                    <span>Latest Post by: <b><a href="#">Post </a></b>on 12 Jan 2021 by<a href="#"> User</a></span> 
                </div>

            </div>
            <footer>
                <span>&copy; &nbsp; Ali Khan | All Rights Reserved. </span>
            </footer>
        </div>   
    </div>


    <script src="main.js"></script>
</body>
</html>